@import "./normalize.scss";


// === VARIABLES ===
$screen-xs: 320px;
$screen-s: 480px;
$screen-m: 800px;
$screen-l: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1600px;

$screen-xs-max: 479px;
$screen-s-max: 799px;
$screen-m-max: 1023px;
$screen-l-max: 1279px;
$screen-xl-max: 1599px;

$color-white: #ffffff;
$color-black: #000000;
$color-main: #7fad39;
$color-main-dark: #4f7d00;
$color-text-main: #2a2a2a;
$color-text-secondary: #757575;
$color-text-secondary-dark: #6b6b6b;
$color-header: #2a2a2a;
$color-footer: #191919;
$color-background: #f5f5f5;
$color-background-dark: #c2c2c2;
$color-border: rgba(42, 42, 42, 0.2);


$font-logo: 'Inter', sans-serif;

$base: 4px;


// === / VARIABLES ===


// === MIXINS ===

@mixin font-main {
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

// === / MIXINS ===


// === FUNCTIONS ===

@function strip-unit($num) {
  @return $num / ($num*0 + 1)
}

@function rem($num) {
  @return (strip-unit($num) / 16) * 1rem
}

// === / FUNCTIONS ===


// === COMMON ===
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
}

body {
  @include font-main;
  color: $color-text-main;
  padding-top: $base*12;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.section-outer {
  max-width: 1920px;
}

.section-inner {
  max-width: 1140px;
  margin: 0 auto;

  @media (max-width: $screen-l-max) {
    max-width: 900px;
  }
  @media (max-width: $screen-m-max) {
    max-width: 700px;
  }
  @media (max-width: $screen-s-max) {
    max-width: 450px;
  }
  @media (max-width: $screen-xs-max) {
    max-width: 300px;
  }
}

.button-main {
  background-color: $color-main;
  cursor: pointer;
  text-transform: uppercase;
  transition: .4s;
  color: $color-white;
  font-weight: 700;
  line-height: rem($base*5);

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $color-main-dark;
    transition: .4s;
  }
}

.line-main {
  width: $base*20;
  height: $base;
  background-color: $color-main;
  border: none;
}

//Select

.select {
  position: relative;
  z-index: 20;

  &_is-active .select__body {
    display: block;
  }

  &__header {
  }

  &__value {
  }

  &__body {
    position: absolute;
    display: none;
  }

  &__item {
    &:hover {
    }
  }
}


// === / COMMON ===


// === HEADER ===
.section-header {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  margin: 0 auto;
  width: 100%;
  background-color: $color-header;

  .section-inner {
    display: flex;
    align-items: center;

    height: $base*12;

    background-color: $color-header;
    color: $color-white;

    font-size: rem($base*3);
    line-height: $base*3.5;

    @media (max-width: $screen-s-max) {
      justify-content: space-between;
    }
  }

  &-email {
    flex: 0 0 $base*40;
    display: flex;
    align-items: center;

    border-right: 1px solid rgba(255, 255, 255, 0.5);;

    font-weight: 700;

    @media (max-width: $screen-m-max) {
      margin-right: $base*15;
    }
    @media (max-width: $screen-s-max) {
      display: none;
    }

    &__icon {
      margin-right: $base*2;

      img {
      }
    }

    &__text {
    }
  }

  &-proposal {
    flex: 0 0 $base*125;

    font-weight: 700;

    padding-left: $base*5;

    @media (max-width: $screen-l-max) {
      flex: 0 0 $base*65;
    }
    @media (max-width: $screen-m-max) {
      display: none;
    }
  }

  &-social {
    flex: 0 0 $base*45;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: $base*10;

    @media (max-width: $screen-s-max) {
      display: none
    }

    img {
      cursor: pointer;
      transition: .4s;

      &:hover {
        opacity: .7;
        transition: .4s;
      }
    }
  }

  &-select {
    flex: 0 0 $base*30;
  }

  &-language {
    display: flex;
    align-items: center;
    font-weight: 400;
    height: $base*7;
    padding-left: 10%;


    background-color: $color-header;
    cursor: pointer;
    transition: .2s;

    &:hover {
      background-color: $color-background-dark;
      transition: .2s;
    }


    &__icon {
      width: $base*7;
    }

    &__text {
      margin-left: $base*2;
      margin-right: $base*2;
      width: $base*10;
    }

    &__dropDownList {
      margin-right: $base*6;

      &_select {
        opacity: 0;
      }
    }
  }

  &-login {
    flex: 0 0 $base*45;
    display: flex;
    align-items: center;
    font-weight: 400;

    border-left: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: .4s;

    &:hover {
      color: $color-background-dark;
      transition: .4s;
    }

    &__icon {
      padding-left: $base*6;
      padding-right: $base*2.5;
    }

    &__text {
    }
  }
}

// === /HEADER ===

// === NAVBAR ===
.section-navbar {

  .section-inner {
    height: $base*20;
    display: flex;
    align-items: center;

    @media (max-width: $screen-s-max) {
      flex-wrap: wrap;
      justify-content: space-between;
      height: $base*27.5;
    }
    @media (max-width: $screen-xs-max) {
      height: $base*37.5;
    }
  }

  .logo {
    padding-right: $base*22.5;
    cursor: pointer;

    @media (max-width: $screen-l-max) {
      padding-right: $base*16.5;
    }
    @media (max-width: $screen-m-max) {
      padding-right: 0;
    }
  }

  &-panel {
    display: flex;
    align-items: center;
    padding-right: $base*54;

    @media (max-width: $screen-l-max) {
      padding-right: 0;
    }
    @media (max-width: $screen-s-max) {
      order: 1;
      justify-content: space-between;
      width: 100%;
      padding-bottom: $base*2.5;
    }


    &__item {
      padding: 0 $base*5 0;

      font-weight: 400;
      font-size: rem($base*4);
      line-height: $base*5;
      text-transform: uppercase;
      cursor: pointer;
      transition: .4s;

      @media (max-width: $screen-m-max) {
        padding: 0 $base*2.5 0;
      }

      &:hover {
        color: $color-main;
        transition: .4s;
        text-shadow: 0 0 $base*2.5 $color-background;
      }
    }

    .screen-xs-max-none {
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }

  &-purchase {
    display: flex;
    align-items: center;

    &__item {
      position: relative;
      margin-right: $base*2;
      display: flex;
      justify-content: center;
      align-items: center;

      height: $base*8.5;
      width: $base*8.5;
      border-radius: 100%;

      cursor: pointer;
      transition: .4s;
      background-color: $color-background;

      &:hover {
        background-color: $color-background-dark;
        transition: .4s;
      }
    }

    &__icon {
    }

    &__value {
      position: absolute;
      top: -$base*0.5;
      left: $base*5;
      z-index: 10;
      box-sizing: content-box;
      height: $base*3.5;
      width: $base*3.5;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-main;
      border: 1px solid $color-white;
      border-radius: 100%;

      font-weight: 700;
      font-size: rem($base*2.5);
      line-height: $base*3;
      color: $color-white;
    }

    &__amount {
      padding-left: $base;

      font-weight: 400;
      font-size: rem($base*4);
      line-height: $base*5;
      color: $color-text-secondary;

      &_value {
        color: $color-text-main;
        font-weight: 700;
      }
    }
  }
}

// === /NAVBAR ===


// === MAIN ===
.section-main {

  .section-inner {
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(16, 52.5px);
    grid-template-rows: 50px 440px 270px;
    grid-template-areas: "dep dep dep dep srch srch srch srch srch srch srch srch srch supp supp supp" "menu menu menu menu mPost mPost mPost mPost mPost mPost mPost mPost mPost mPost mPost mPost" "post-1 post-1 post-1 post-1 post-2 post-2 post-2 post-2 post-3 post-3 post-3 post-3 post-4 post-4 post-4 post-4";
    grid-gap: $base*5;

    @media (max-width: $screen-l-max) {
      grid-template-columns: repeat(4, 210px);
      grid-template-areas: "dep srch srch supp" "menu mPost mPost mPost " "post-1 post-2 post-3 post-4";
      grid-template-rows: 50px 440px 250px;
    }
    @media (max-width: $screen-m-max) {
      grid-template-columns: repeat(16, 25px);
      grid-template-areas: "dep dep dep dep srch srch srch srch srch srch srch supp supp supp supp supp" "menu menu menu menu mPost mPost mPost mPost mPost mPost mPost mPost mPost mPost mPost mPost" "post-1 post-1 post-1 post-1 post-2 post-2 post-2 post-2 post-3 post-3 post-3 post-3 post-4 post-4 post-4 post-4";
      grid-template-rows: 50px 440px 220px;
    }
    @media (max-width: $screen-s-max) {
      grid-gap: $base*3;
      grid-template-columns: repeat(4, 23%);
      grid-template-rows: repeat(2, 50px) repeat(4, 220px);
      grid-template-areas: "srch srch srch srch" "dep dep supp supp" "menu menu mPost mPost" "menu menu mPost mPost" "post-1 post-1 post-2 post-2" "post-3 post-3 post-4 post-4";
    }
    @media (max-width: $screen-xs-max) {
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, 50px) 440px 400px repeat(4, 220px);
      grid-template-areas: "supp" "srch" "dep" "menu" "mPost" "post-1" "post-2" "post-3" "post-4";
    }
  }

  .post-1 {
    grid-area: post-1
  }

  .post-2 {
    grid-area: post-2
  }

  .post-3 {
    grid-area: post-3
  }

  .post-4 {
    grid-area: post-4
  }

  &__allDepartment {
    position: relative;

    grid-area: dep;

    background-color: $color-main;
    cursor: pointer;
    color: $color-white;
    font-weight: 700;
    font-size: rem($base*4);
    line-height: $base*5;
    transition: .4s;

    &:hover {
      background-color: $color-main-dark;
      transition: .4s;
    }

    &-header {
      display: flex;
      align-items: center;
      height: 100%;
    }

    &-icon {
      height: 100%;
      width: $base*15.5;

      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
      }
      @media (min-width: $screen-m) and (max-width: $screen-m-max) {
        width: $base*10;
      }
    }

    &-text {
      font-weight: 700;
      font-size: rem($base*4);
      line-height: $base*5;
      padding-right: $base*4.5;
      @media (max-width: $screen-m-max) {
        padding-right: 0;
      }
    }

    &-menu {
      display: none;
      position: absolute;
      top: $base*12.5;
      left: 0;
      width: 100%;

      background-color: $color-main;
      margin: 0;
      padding: 0;

      &_active {
        display: block;
      }
    }
    &-item {
      padding-left: $base*4;

      list-style-type: none;
      line-height: $base*10;

      transition: .4s;
      &:hover {
        background-color: $color-main-dark;
        transition: .4s;
      }
    }
  }

  &__search {
    grid-area: srch;

    display: flex;
    align-items: center;

    //border: 1px solid $color-border;


    &-form {
      width: 100%;
      display: flex;
      align-items: center;

      input {
        width: 75%;
        height: $base*12.5;
        border: 1px solid $color-border;
        padding-left: $base*5;

        font-size: rem($base*4);
        line-height: $base*5;
      }

      button {
        width: 25%;
        height: $base*12.5;
        border: 1px solid $color-border;
      }
    }
  }

  &__support {
    grid-area: supp;
    display: flex;
    align-items: center;

    &-icon {
      height: $base*12.5;
      width: $base*12.5;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-background;
      cursor: pointer;
      transition: .4s;

      &:hover {
        background-color: $color-background-dark;
        transition: .4s;
      }
    }

    &-text {
      padding-left: $base*5;

      font-weight: 900;
      font-size: rem($base*4);
      line-height: $base*4;

      &_gray {
        font-weight: 400;
        font-size: rem($base*3);
        color: $color-text-secondary;
      }
    }
  }

  &__menu {
    grid-area: menu;

    border: 1px solid $color-border;
    margin: 0;
    padding-left: 0;
    padding-top: $base*4;

    &-item {
      list-style: none;

      font-weight: 400;
      font-size: rem($base*4);
      line-height: $base*9;
      color: $color-text-secondary;

      padding: 0 $base*5 0;
      cursor: pointer;
      transition: .2s;
      white-space: nowrap;
      @media (min-width: $screen-m) and (max-width: $screen-m-max) {
        padding-right: 0;
        padding-left: $base*2.5;
      }

      &:hover {
        color: $color-main;
        box-shadow: 0 0 $base*7.5 $color-background-dark;
        transition: .2s;

      }
    }
  }

  &__mainPost {
    grid-area: mPost;

    background-color: $color-background;
    z-index: 1;


    &-description {
      padding-top: $base*21.5;
      padding-left: $base*19;
      max-width: $base*90;

      @media (max-width: $screen-l-max) {
        padding-left: $base*10;
      }
      @media (max-width: $screen-m-max) {
        padding-left: $base*6;
        padding-top: $base*10;
        max-width: 100%;
      }
      @media (max-width: $screen-s-max) {
        padding-top: $base*5;
        padding-left: $base*4;
      }
      @media (max-width: $screen-xs-max) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: $base*9;
      }
    }

    &-image {
      position: relative;
      float: right;
      top: -$base*84;
      z-index: -1;

      @media (max-width: $screen-l-max) {
        top: -$base*75;
      }
      @media (max-width: $screen-m-max) {
        top: -$base*20;
      }
      @media (max-width: $screen-s-max) {
        top: $base*8;
      }
      @media (max-width: $screen-xs-max) {
        position: static;
        top: 0;
        left: 0;
        float: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: $base*5;
      }

      img {
        max-width: $base*134;

        @media (max-width: $screen-l-max) {
          max-width: $base*105;
        }
        @media (max-width: $screen-m-max) {
          max-width: $base*90;
        }
        @media (max-width: $screen-s-max) {
          max-width: $base*56.25;
        }
      }
    }

    &-title {
      font-weight: 800;
      font-size: rem($base*4);
      line-height: $base*5;
      letter-spacing: 0.2em;
      color: $color-main;

      padding-bottom: $base*5;
      @media (max-width: $screen-s-max) {
        padding-bottom: $base*3;
      }
    }

    &-subtitle {
      font-weight: 900;
      font-size: rem($base*10);
      line-height: $base*12.5;

      padding-bottom: $base*5;

      @media (max-width: $screen-s-max) {
        font-size: rem($base*5);
        line-height: 1.5em;
        padding-bottom: $base*3;
      }

      &_br {
        @media (max-width: $screen-m-max) {
          display: none;
        }
      }
    }

    &-text {
      font-weight: 400;
      font-size: rem($base*4);
      line-height: $base*5;
      color: $color-text-secondary;

      padding-bottom: $base*15;

      @media (max-width: $screen-m-max) {
        padding-bottom: $base*10;
      }
      @media (max-width: $screen-s-max) {
        padding-bottom: $base*3;
      }
      @media (max-width: $screen-xs-max) {
        padding-bottom: $base*6;
      }
    }

    &-button {
      width: $base*35;
      height: $base*12.5;
    }
  }

  &__post {
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    transition: .4s;
    &:hover {
      transition: .4s;
      background-color: $color-background-dark;
    }

    &-image {
      padding-top: $base*5;

      @media (min-width: $screen-m) and (max-width: $screen-l-max) {
        padding-bottom: $base*5;
      }

      img {
        max-width: $base*60;

        @media (max-width: $screen-l-max) {
          max-width: $base*50;
        }
        @media (max-width: $screen-m-max) {
          max-width: $base*37.5;
        }
        @media (max-width: $screen-s-max) {
          max-width: $base*50;
        }
      }
    }

    &-title {
      font-weight: 900;
      font-size: rem($base*5);
      line-height: $base*12.5;

      max-width: $base*57.5;
      text-align: center;

      /*@media (max-width: $screen-l-max) {
        width: $base*57.5;
      }*/
    }
  }

}

// === /MAIN ===

// === DRINKS ===
.section-drinks {
  color: $color-white;

  .section-inner {
    display: flex;
    align-items: start;
    height: $base*90;
    padding-top: $base*20;

    @media (max-width: $screen-l-max) {
      //height: $base*75;
    }
    @media (max-width: $screen-m-max) {
      height: $base*86;
      padding-top: $base*17;
    }
    @media (max-width: $screen-s-max) {
      flex-direction: column;
      height: $base*130;
      padding-top: $base*17;
    }
    @media (max-width: $screen-xs-max) {
      height: $base*95;
      padding-top: $base*15;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 5;

    img {
      max-width: 100%;
    }

    &:hover {
      opacity: .7;
      transition: .4s;
    }

  }

  &__item {
    flex: 0 0 49.1%;
    height: $base*65;

    padding-left: $base*72.5;

    position: relative;
    transition-duration: .4s;

    cursor: pointer;

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-black;
      opacity: 0;

      transition-duration: .4s;
    }

    &:hover:after {
      opacity: .3;
      transition-duration: .4s;
    }

    @media (max-width: $screen-l-max) {
      padding-left: $base*57.5;
    }
    @media (min-width: $screen-m) and (max-width: $screen-m-max) {
      padding-left: $base*42.5;
    }
    @media (max-width: $screen-s-max) {
      width: 100%;
    }
    @media (max-width: $screen-xs-max) {
      padding-left: $base*37;
    }


    &_1 {
      background: url("../assets/images/drinks/image-1.png");
      background-size: cover;
      padding-top: $base*13;

      margin-right: 1.8%;

      @media (max-width: $screen-l-max) {
        padding-top: $base*8.5;
      }
      @media (min-width: $screen-m) and (max-width: $screen-m-max) {
        padding-top: $base*6.5;
      }
      @media (max-width: $screen-s-max) {
        margin-right: 0;
        margin-bottom: 1.8%;
      }
      @media (max-width: $screen-xs-max) {
        padding-top: $base*4.5;
      }
    }

    &_2 {
      background: url("../assets/images/drinks/image-2.png");
      background-size: cover;
      padding-top: $base*10;

      @media (max-width: $screen-l-max) {
        padding-top: $base*6;
      }
      @media (min-width: $screen-m) and (max-width: $screen-m-max) {
        padding-top: $base*4;
      }
      @media (max-width: $screen-xs-max) {
        padding-top: $base*3;
      }
    }
  }

  &__title {
    font-weight: 900;
    font-size: rem($base*7);
    line-height: 1.3em;

    position: relative;
    z-index: 10;

    @media (min-width: $screen-m) and (max-width: $screen-m-max) {
      font-size: rem($base*5);
    }
    @media (max-width: $screen-xs-max) {
      font-size: rem($base*4.5);
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: rem($base*5);
    line-height: 2em;
    padding-bottom: $base*7.5;

    position: relative;
    z-index: 10;

    @media (max-width: $screen-l-max) {
      font-size: rem($base*4);
    }
    @media (min-width: $screen-m) and (max-width: $screen-m-max) {
      font-size: rem($base*3.5);
      padding-bottom: $base*3.5;
    }
    @media (max-width: $screen-xs-max) {
      font-size: rem($base*3);
      padding-bottom: $base*3;
    }

    &_2 {
      padding-bottom: $base*1.5;
    }
  }

  &__button {
    width: $base*35;
    height: $base*12.5;

    position: relative;
    z-index: 10;

    @media (min-width: $screen-m) and (max-width: $screen-m-max) {
      width: $base*35;
      height: $base*10;
    }

    @media (max-width: $screen-xs-max) {
      width: $base*35;
      height: $base*10;
    }
  }
}

// === /DRINKS ===

// === LATEST ===
.section-latest {

  .section-inner {
    position: relative;
  }

  &__title {
    padding-top: $base*15;
    padding-bottom: $base*12.5;

    &-text {
      display: flex;
      align-items: center;
      justify-content: center;

      font-weight: 900;
      font-size: rem($base*8);
      line-height: $base*12.5;

      padding-bottom: $base*4;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    position: relative;

  }

  &__slide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, $base*27.5);
    grid-gap: $base*5;

    @media (max-width: $screen-m-max) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    @media (max-width: $screen-s-max) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
  }

  &__item {
    display: flex;
    align-items: center;

    width: 100%;

    cursor: pointer;
    background-color: $color-background;
    transition: .4s;

    &:hover {
      background-color: $color-background-dark;
      transition: .4s;

    }

    &-image {
      margin-right: $base*5;

      @media (min-width: $screen-m) and (max-width: $screen-l-max) {
        margin-right: $base*2;
      }

      img {
        width: $base*27.5;
      }
    }

    &-description {
      display: flex;
      flex-direction: column;
      align-items: start;

      font-size: rem($base*5);
      line-height: $base*7.5;
    }

    &-title {
      font-weight: 400;
    }

    &-price {
      font-weight: 900;
    }
  }

  &__button {
    height: $base*12;
    width: $base*12;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 $base*5 $color-background-dark;
    border-radius: 100%;
    cursor: pointer;
    transition-duration: .4s;

    @media (max-width: $screen-m-max) {
      display: none;
    }

    &:hover {
      background-color: $color-background;
      transition-duration: .4s;

    }

    &_next {
      padding-left: $base;
    }

    &_prev {

    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: $base*4;

    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: $base*1.5;
    }

    .swiper-pagination {
      position: static;
      list-style-type: none;
      padding: 0;

      display: flex;
      justify-content: center;

      &-bullet {
        width: $base*2.5;
        height: $base*2.5;
        margin: 0 20px;
        display: block;
        opacity: 1;
        background-color: $color-background-dark;

        &-active {
          background-color: $color-main;
        }
      }
    }
  }
}

//Swiper Slider

.swiper {
  width: 85%;
  height: $base*60;

  @media (max-width: $screen-m-max) {
    height: $base*95;
    width: 100%;
  }
  @media (max-width: $screen-s-max) {
    height: $base*192;
  }

  &-wrapper {
  }

  &-slide {
  }
}

// === /LATEST ===


// === BLOG ===
.section-blog {

  height: $base*210;

  @media (max-width: $screen-s-max) {
    height: $base*500;
  }
  @media (max-width: $screen-xs-max) {
    height: $base*460;
  }

  .section-inner {
  }

  &__title {
    font-weight: 900;
    font-size: rem($base*8);
    line-height: $base*12.5;
    text-align: center;
    padding-top: $base*22;
    padding-bottom: $base*4;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: $base*10;

    @media (max-width: $screen-s-max) {
      flex-direction: column
    }
  }

  &__item {
    max-width: $base*92;

    @media (min-width: $screen-l) and (max-width: $screen-l-max) {
      max-width: $base*72;
    }
    @media (min-width: $screen-m) and (max-width: $screen-m-max) {
      max-width: $base*56;
    }
    @media (max-width: $screen-s-max) {
      max-width: 100%;
      padding-bottom: $base*8;
    }

    &-image {
      background-color: $color-black;

      img {
        max-width: $base*92;
        cursor: pointer;
        transition: .4s;

        @media (min-width: $screen-l) and (max-width: $screen-l-max) {
          max-width: $base*72;
        }
        @media (min-width: $screen-m) and (max-width: $screen-m-max) {
          max-width: $base*56;
        }
        @media (max-width: $screen-s-max) {
          max-width: 100%;
        }

        &:hover {
          opacity: .7;
          transition: .4s;
        }
      }
    }

    &-info {
      padding-top: $base*5;

      display: flex;
      align-items: center;
    }

    &-text {
      font-weight: 400;
      font-size: rem($base*4);
      line-height: $base*5;
      color: $color-text-secondary;
      padding-right: $base*6;

      &_comment {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-icon {
      padding-right: $base*3;

      &_comment {
        cursor: pointer;
      }
    }

    &-title {
      font-weight: 900;
      font-size: rem($base*5);
      line-height: $base*7.5;

      padding-top: $base*5;
    }

    &-subtitle {
      font-weight: 400;
      font-size: rem($base*4);
      line-height: $base*6;
      color: $color-text-secondary;

      padding-top: $base*7.5;

      &_link {
        font-weight: 700;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// === /BLOG ===

// === FOOTER ===
.section-footer {
  height: $base*139;
  background-color: $color-footer;
  color: $color-white;

  @media (max-width: $screen-m-max) {
    height: $base*170;
  }
  @media (max-width: $screen-s-max) {
    height: $base*180;
  }
  @media (max-width: $screen-xs-max) {
    height: $base*300;
  }

  .section-inner {
    display: grid;
    grid-template-columns: 268px 174px 174px 460px;
    grid-template-rows: minmax(350px, auto) 50px;
    grid-template-areas: "info links-1 links-2 subsc" "rights rights rights paym";

    padding-top: $base*15;

    @media (max-width: $screen-l-max) {
      grid-template-columns: 268px 174px 174px 280px;
    }
    @media (max-width: $screen-m-max) {
      grid-template-columns: 40% 30% 30%;
      grid-template-rows: 270px 240px 50px;

      grid-template-areas: "info links-1 links-2" "subsc subsc subsc" "rights rights paym";
    }
    @media (max-width: $screen-s-max) {
      grid-template-rows: 270px 240px 70px 50px;

      grid-template-areas: "info links-1 links-2" "subsc subsc subsc" "rights rights rights" "paym paym paym";
    }
    @media (max-width: $screen-xs-max) {
      grid-template-columns: none;
      grid-template-rows: repeat(4, 240px) 70px 50px;

      grid-template-areas: "info" "links-1" "links-2" "subsc" "rights" "paym";
    }

  }

  &__info {
    grid-area: info;

    max-width: $base*67;
    padding-right: $base*5;
  }

  &__logo {
    padding-bottom: $base*8.5;
  }

  &__title {
    font-weight: 900;
    font-size: rem($base*4);
    line-height: $base*7.5;

    &_invisible {
      opacity: 0;

      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: rem($base*3.5);
    line-height: $base*7.5;
  }

  &__links {
    width: $base*43.5;
    padding-right: $base*5;

    &_1 {
      grid-area: links-1;
    }

    &_2 {
      grid-area: links-2;
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;

    &_uppercase {
      text-transform: uppercase;
    }
  }

  &__item {
    font-weight: 400;
    font-size: rem($base*3.5);
    line-height: $base*7.5;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__subscribe {
    grid-area: subsc;
  }

  &__form {
    padding-top: $base*8;
    padding-bottom: $base*2.5;

    display: flex;
    align-items: center;

    color: $color-text-secondary;

    input {
      width: 62%;
      height: $base*15;
      border: 1px solid $color-border;
      border-left: none;
      padding-left: $base*5;

      font-size: rem($base*4);
      line-height: $base*5;
    }

    button {
      width: 38%;
      height: $base*15;
      border: 1px solid $color-border;
    }

    @media (min-width: $screen-l) and (max-width: $screen-l-max) {
      input, button {
        height: $base*12;
      }
    }
    @media (max-width: $screen-s-max) {
      input, button {
        height: $base*12;
      }
    }
  }

  &__social {
    display: flex;

    img {
      margin-right: $base*6;
      cursor: pointer;
      transition: .4s;

      &:hover {
        opacity: .7;
        transition: .4s;
      }
    }
  }

  &__rights {
    grid-area: rights;
    margin-right: $base*5;
  }

  &__payments {
    grid-area: paym;
    display: flex;
    align-items: start;

    &-item {
      padding-right: $base*2.5;
    }
  }
}

// === /FOOTER ===

