@import "./normalize.scss";


// === VARIABLES ===
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-l: 1200px;
$screen-xl: 1400px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
$screen-l-max: 1399px;

$color-white: #ffffff;
$color-black: #000000;
$color-main: #7fad39;
$color-main-dark: #4f7d00;
$color-text-main: #2a2a2a;
$color-text-secondary: #757575;
$color-text-secondary-dark: #6b6b6b;
$color-header: #2a2a2a;
$color-footer: #191919;
$color-background: #f5f5f5;
$color-background-dark: #c2c2c2;
$color-border: rgba(42, 42, 42, 0.2);


$font-logo: 'Inter', sans-serif;


/*100: Thin;
200: Extra Light (Ultra Light);
300: Light;
400: Normal;
500: Medium;
600: Semi Bold (Demi Bold);
700: Bold;
800: Extra Bold (Ultra Bold);
900: Black (Heavy).*/

// === / VARIABLES ===

// === MIXINS ===

@mixin font-main {
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

// === / MIXINS ===

// === COMMON ===
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  @include font-main;

  color: $color-text-main;
}

.section-outer {
  max-width: 1920px;
}

.section-inner {
  max-width: 1140px;
  margin: 0 auto;
}

.button-main {
  background-color: $color-main;
  cursor: pointer;
  text-transform: uppercase;
  transition: .4s;
  color: $color-white;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $color-main-dark;
    transition: .4s;
  }
}
.line-main {
  width: 80px;
  height: 4px;
  background-color: $color-main;
  border: none;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


//Swiper Slider

.swiper {
  width: 100%;
  height: 370px;
}

.swiper-slide {
  text-align: center;
  /*font-size: 18px;
  background: #fff;*/

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// === / COMMON ===

// === HEADER ===
.section-header {
  height: 47px;

  background-color: $color-header;
  color: $color-white;

  font-size: 12px;
  line-height: 14px;

  .section-inner {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-email {
    flex: 0 1 160px;
    display: flex;
    align-items: center;

    border-right: 1px solid rgba(255, 255, 255, 0.5);;

    font-weight: 700;

    &__icon {
      margin-right: 8px;

      img {
      }
    }

    &__text {
    }
  }

  &-proposal {
    flex: 0 1 206px;

    text-align: center;

    font-weight: 700;

    margin-right: 400px;
  }

  &-social {
    flex: 0 1 142px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      cursor: pointer;
      transition: .4s;

      &:hover {
        opacity: .7;
        transition: .4s;
      }
    }
  }

  &-language {
    flex: 0 1 162px;
    display: flex;
    align-items: center;
    font-weight: 400;

    border-right: 1px solid rgba(255, 255, 255, 0.5);;


    &__icon {
      margin-left: 40px;
    }

    &__text {
      margin-left: 9px;
    }

    &__dropDownList {
      margin-left: 12px;
      margin-right: 25px;
    }
  }

  &-login {
    flex: 0 1 82px;
    display: flex;
    align-items: center;
    font-weight: 400;

    &__icon {
      margin-left: 24px;
      margin-right: 10px;
    }

    &__text {
    }
  }
}

// === /HEADER ===

// === NAVBAR ===
.section-navbar {

  .section-inner {
    height: 80px;
    display: flex;
    align-items: center;
  }

  .logo {
    padding-right: 91px;
    cursor: pointer;
  }

  &-panel {
    display: flex;
    align-items: center;
    padding-right: 216px;

    &__item {
      padding: 0 20px 0;

      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      cursor: pointer;
      transition: .4s;

      &:hover {
        color: $color-main;
        transition: .4s;
        text-shadow: 0 0 10px $color-background;
      }
    }
  }

  &-purchase {
    display: flex;
    align-items: center;

    &__item {
      position: relative;
      margin-right: 8px;
      display: flex;
      justify-content: center;
      align-items: center;

      height: 34px;
      width: 34px;
      border-radius: 100%;

      cursor: pointer;
      transition: .4s;
      background-color: $color-background;

      &:hover {
        background-color: $color-background-dark;
        transition: .4s;
      }
    }

    &__icon {
    }

    &__value {
      position: absolute;
      top: -2px;
      left: 19px;
      z-index: 10;
      box-sizing: content-box;
      height: 14px;
      width: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-main;
      border: 1px solid $color-white;
      border-radius: 100%;

      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      color: $color-white;
    }

    &__amount {
      padding-left: 4px;

      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $color-text-secondary;

      &_value {
        color: $color-text-main;
        font-weight: 700;
      }
    }
  }
}

// === /NAVBAR ===

// === MAIN ===
.section-main {

  .section-inner {
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(16, 52.5px);
    grid-template-rows: 50px 440px 270px;
    grid-template-areas: "dep dep dep dep srch srch srch srch srch srch srch srch srch supp supp supp"
    "menu menu menu menu mPost mPost mPost mPost mPost mPost mPost mPost mPost mPost mPost mPost"
    "post-1 post-1 post-1 post-1 post-2 post-2 post-2 post-2 post-3 post-3 post-3 post-3 post-4 post-4 post-4 post-4";
    grid-gap: 20px;
  }

  .post-1 {
    grid-area: post-1
  }

  .post-2 {
    grid-area: post-2
  }

  .post-3 {
    grid-area: post-3
  }

  .post-4 {
    grid-area: post-4
  }

  &__allDepartment {
    grid-area: dep;

    display: flex;
    align-items: center;

    background-color: $color-main;
    cursor: pointer;
    color: $color-white;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    &-icon {
      padding-left: 22px;
      padding-right: 22px;
    }

    &-text {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      padding-right: 18px;
    }
  }

  &__search {
    grid-area: srch;

    display: flex;
    align-items: center;

    border: 1px solid $color-border;

    &-dropDownList {
      flex: 0 1 31%;
      display: flex;
      align-items: center;

      border-right: 1px solid $color-border;
    }

    &-text {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      padding: 0 20px 0;
    }

    &-arrow {
      img {
      }
    }

    &-form {
      flex: 0 1 69%;
      display: flex;
      align-items: center;


      input {
        width: 75%;
        height: 50px;
        border: 1px solid $color-border;
        border-left: none;
        padding-left: 20px;

        font-size: 16px;
        line-height: 19px;
      }
      button {
        width: 25%;
        height: 50px;
        border: 1px solid $color-border;
      }
    }
  }

  &__support {
    grid-area: supp;
    display: flex;
    align-items: center;

    &-icon {
      height: 50px;
      width: 50px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-background;
      cursor: pointer;
      transition: .4s;
      &:hover {
        background-color: $color-background-dark;
        transition: .4s;
      }
    }

    &-text {
      padding-left: 20px;

      font-weight: 900;
      font-size: 16px;
      line-height: 20px;

      &_gray {
        font-weight: 400;
        font-size: 12px;
        color: $color-text-secondary;
      }
    }
  }

  &__menu {
    grid-area: menu;

    border: 1px solid $color-border;
    margin: 0;
    padding-left: 0;
    padding-top: 16px;

    &-item {
      list-style: none;

      font-weight: 400;
      font-size: 16px;
      line-height: 36px;
      color: $color-text-secondary;

      padding: 0 20px 0;
      cursor: pointer;

      &:hover {
        color: $color-main;
      }
    }
  }

  &__mainPost {
    grid-area: mPost;

    background-color: $color-background;
    z-index: 1;
    &-description {
      padding-top: 86px;
      padding-left: 77px;
      max-width: 360px;
    }

    &-image {
      position: relative;
      float: right;
      top: -335px;
      z-index: -1;
      img {
        max-width: 536px;
      }
    }

    &-title {
      font-weight: 800;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.2em;
      color: $color-main;

      padding-bottom: 20px;
    }

    &-subtitle {
      font-weight: 900;
      font-size: 40px;
      line-height: 50px;

      padding-bottom: 20px;
    }

    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $color-text-secondary;

      padding-bottom: 60px;
    }

    &-button {
      width: 140px;
      height: 50px;
    }
  }

  &__post {
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-image {
      padding-top: 20px;

      img {
        max-width: 240px;
      }
    }
    &-title {
      font-weight: 900;
      font-size: 20px;
      line-height: 50px;

      background-color: $color-white;
      width: 230px;
      text-align: center;
    }
  }

}

// === /MAIN ===

// === DRINKS ===
.section-drinks {
  color: $color-white;

  .section-inner {
    display: flex;
    align-items: center;
    height: 360px;
    padding-top: 100px;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    z-index: -1;

  }

  &__item {
    flex: 0 1 50%;
    height: 100%;

    margin-right: 20px;

    padding-left: 290px;

    position: relative;

    transition: .4s;

    &:hover {
      background-color: rgba(0,0,0, .3);
      transition: .4s;
    }
    &_1 {
      //background: url("../assets/images/drinks/image-1.png");
      background-size: cover;
      padding-top: 66px;
    }
    &_2 {
      //background: url("../assets/images/drinks/image-2.png");
      background-size: cover;
      padding-top: 56px;
    }
  }
  &__title {
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    padding-bottom: 30px;
    &_2 {
      padding-bottom: 6px;
    }
  }
  &__button {
    width: 140px;
    height: 50px;
  }
}

// === /DRINKS ===

// === LATEST ===
.section-latest {

  .section-inner {}

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 60px;
    padding-bottom: 50px;

    &-text {
      font-weight: 900;
      font-size: 24px;
      line-height: 50px;

      padding-right: 40px;
    }
    .latest-slider-button {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-background;
      border-radius: 100%;
      transition: .4s;
      cursor: pointer;

      margin-right: 10px;
      &:hover {
        background-color: $color-background-dark;
        transition: .4s;
      }
    }
  }

  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
  }
  &__item {
    display: flex;
    align-items: center;

    width: 367px;
    height: 110px;

    cursor: pointer;
    background-color: $color-background;
    transition: .4s;

    &:hover {
      background-color: $color-background-dark;
      transition: .4s;

    }

    &-image {
      margin-right: 20px;

      img {
        width: 110px;
      }
    }
    &-description {
      display: flex;
      flex-direction: column;
      align-items: start;

      font-size: 20px;
      line-height: 30px;
    }
    &-title {
      font-weight: 400;
    }
    &-price {
      font-weight: 900;
    }
  }





}

// === /LATEST ===


// === BLOG ===
.section-blog {

  height: 840px;
  .section-inner {
  }

  &__title {
    font-weight: 900;
    font-size: 34px;
    line-height: 50px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 16px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 40px;
  }
  &__item {
    max-width: 367px;


    &-image {
      background-color: $color-black;
      img {
        max-width: 367px;
        cursor: pointer;
        transition: .4s;
        &:hover {
          opacity: .7;
          transition: .4s;
        }
      }
    }
    &-info {
      padding-top: 20px;

      display: flex;
      align-items: center;
    }
    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $color-text-secondary;
      padding-right: 24px;
      &_comment {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &-icon {
      padding-right: 12px;
      &_comment {
        cursor: pointer;
      }
    }
    &-title {
      font-weight: 900;
      font-size: 20px;
      line-height: 30px;

      padding-top: 20px;
    }
    &-subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $color-text-secondary;

      padding-top: 30px;
      &_link {
        font-weight: 700;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// === /BLOG ===

// === FOOTER ===
.section-footer {
  height: 557px;
  background-color: $color-footer;
  color: $color-white;

  .section-inner {
    display: grid;
    grid-template-columns: 268px 174px 174px 460px;
    grid-template-rows: minmax(350px, auto);
    grid-template-areas:
            "info links-1 links-2 subsc"
            "rights rights rights paym";

    padding-top: 60px;
  }

  &__info {
    grid-area: info;

    max-width: 268px;
    padding-right: 20px;
  }
  &__logo {
    padding-bottom: 34px;
  }
  &__title {
    font-weight: 900;
    font-size: 16px;
    line-height: 30px;

    &_invisible {
      opacity: 0;
    }
  }
  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
  }
  &__links {
    width: 174px;
    padding-right: 20px;
    &_1 {
      grid-area: links-1;
    }
    &_2 {
      grid-area: links-2;
    }
  }
  &__list {
    list-style: none;
    padding-left: 0;

    &_uppercase {
      text-transform: uppercase;
    }
  }
  &__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  &__subscribe {
    grid-area: subsc;
  }
  &__form {
    padding-top: 32px;
    padding-bottom: 10px;

    display: flex;
    align-items: center;

    color: $color-text-secondary;

    input {
      width: 62%;
      height: 60px;
      border: 1px solid $color-border;
      border-left: none;
      padding-left: 20px;

      font-size: 16px;
      line-height: 19px;
    }
    button {
      width: 38%;
      height: 60px;
      border: 1px solid $color-border;
    }
  }
  &__social {
    display: flex;
    img {
      margin-right: 24px;
      cursor: pointer;
      transition: .4s;

      &:hover {
        opacity: .7;
        transition: .4s;
      }
    }
  }
  &__rights {
    grid-area: rights;
    margin-right: 20px;
  }
  &__payments {
    grid-area: paym;
    display: flex;
    align-items: start;
    &-item {
      padding-right: 10px;
    }
  }
}

// === /FOOTER ===

